# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc

# Flask
instance/

# Database
*.db

# Uploads
uploads/
static/uploads/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store
