{% extends "base.html" %}

{% block content %}

<div class="top-bar">
    <h1>Welcome, User </h1>
    <p>Upload your resume and receive AI-powered analysis.</p>
</div>

<div class="cards">

    <div class="card">
        <h3>ATS Score</h3>
        <span>92%</span>
    </div>

    <div class="card">
        <h3>Skills Found</h3>
        <span>18</span>
    </div>

    <div class="card">
        <h3>Missing Skills</h3>
        <span>5</span>
    </div>

    <div class="card">
        <h3>Resumes</h3>
        <span>7</span>
    </div>

</div>

<div class="upload-section">

    <div class="upload-area">

        <h2> Upload Resume</h2>

        <p>Drag & Drop your PDF here</p>

        <button>Choose Resume</button>

    </div>

</div>

<div class="bottom-grid">

    <div class="large-card">
        <h2>AI Feedback</h2>
        <p>AI suggestions will appear here.</p>
    </div>

    <div class="large-card">
        <h2>Recent Analysis</h2>
        <p>No resume analyzed yet.</p>
    </div>

</div>

{% endblock %}